<!DOCTYPE html>
<html>
<head>
  <title><%= @meta[:title] %></title>
  <meta charset="UTF-8">

  <%= render partial: 'blogo/shared/meta' %>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "blogo/blog" %>

  <%= auto_discovery_link_tag :atom, blogo_feed_path %>
  <%= render 'blogo/shared/google_analytics' %>
</head>
<body>
  <div id="container">
    <header class="blogo-header">
      <div class='header-titles'>
        <div class="dir-left">
          <%= link_to blogo_root_path do %>
            <%= image_tag 'top-logo', width: 300 %>
          <% end %>
        </div>
        <div class="dir-right">
          <%= link_to 'Home', root_path %>
          <%= link_to 'Archive', root_path %>
        </div>
      </div>
    </header>

    <div id="content">
      <%= yield %>      
    </div>
  </div>
</body>
</html>
